.noticecontainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.noticetitle {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.noticenewtitle {
    width: 100%;
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.noticeinfo {
    font-size: 15px;
    text-align: right;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;    
}

.noticecontent {
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.noticeImageContainer {
    margin: 20px 0;
}

.noticeImage {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.fileInput {
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.backButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.backButton::before {
    content: "←";
    margin-right: 8px;
    font-size: 16px;
}

.backButton:hover {
    text-decoration: underline;
    color: #0056b3;
}

.updateButton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.updateButton:hover {
    background-color: #0056b3;
}
