.noticecontainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.noticetitle {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.noticetable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

.noticeTbutton {
    all: unset; /* 기본 스타일 제거 */
    cursor: pointer; /* 클릭 가능한 영역처럼 보이도록 */
    color: rgb(0, 0, 0); /* 텍스트 색상 */
    font-size: inherit; /* 부모 요소의 폰트 크기를 상속 */
}

.noticecontent {
    font-size: 18px;
}

.noticeinfo {
    font-size: 15px;
    text-align: right;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;    
}

.spacer {
    margin-left: 10px;
}

.backButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.backButton::before {
    content: "←";
    margin-right: 8px;
    font-size: 16px;
}

.backButton:hover {
    text-decoration: underline;
    color: #0056b3;
}

.imagePreview {
    margin-top: 20px;
    text-align: center;
  }
  
.noticeImage {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  }
  
  .downloadButton {
    background: none;
    color: blue; /* 링크 색상 */
    text-decoration: underline; /* 밑줄 추가 */
    border: none;
    padding: 0;
    font-size: 1rem; /* 텍스트 크기 */
    cursor: pointer; /* 클릭 가능한 링크처럼 커서 변경 */
}

.downloadButton:hover {
    color: darkblue; /* 호버 시 색상 변경 */
    text-decoration: none; /* 호버 시 밑줄 제거 */
}

.fileContainer {
    display: flex; /* 아이콘과 파일명을 가로로 정렬 */
    align-items: center; /* 아이콘과 텍스트를 수직 가운데 정렬 */
    margin: 20px 0;
}

.fileIcon {
    margin-right: 8px; /* 아이콘과 파일명 간격 */
}

.fileIcon img {
    width: 22px; /* 아이콘 크기 */
    height: 22px;
}

.downloadLink {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.downloadLink:hover {
    text-decoration: underline;
}