.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  width: 30%;
  height: 40%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.title{
    margin-top: 8%;
}

.reason {
  font-weight: bold;
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btnContainer {
  display: flex; /* Flexbox를 사용하여 버튼들을 정렬 */
  gap: 30px; /* 버튼 사이의 간격 설정 (10px 예시) */
  justify-content: center; /* 버튼들을 가운데 정렬 */
  margin-top: 12%;
}

.closeBtn {
  background-color: rgba(109, 160, 255, 0.5);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.restricationBtn {
  background-color: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.reasonContainer {
  display: flex; /* 좌우 배치를 위한 Flexbox */
  justify-content: center;
  align-items: center; /* 수직 정렬 */
  gap: 30px;
  margin-top: 2%;
  margin-bottom: 20px; /* 아래 간격 추가 */
}

.select {
  width: 35%; /* select 박스의 너비 */
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input {
  width: 30%; /* input 박스의 너비 */
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
