.maincontainer {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 7%;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex; /* Flexbox 적용 */
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  gap: 5px; /* 요소 간의 간격 */
}

.menutitle {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 5px; /* 간격 조정 */
  text-align: left;
  color: #004F99;
}

.title {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px; /* 간격 조정 */
}

.minititle {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}

.warning {
  font-size: 14px;
  width: 360px;
  color: #555;
  margin-bottom: 10px; /* 간격 조정 */
}

.textarea {
  width: 350px;
  height: 100px;
  margin: 0; /* 추가 간격 제거 */
  font-family: Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin: 10px 0 0 0; /* 상단 여백만 유지, 하단 여백 제거 */
}

.button:hover {
  background-color: #fc2020;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .confirmButton, .cancelButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmButton {
    background-color: #ff6b6b;
    color: white;
    font-weight: 800;
  }

  .confirmButton:hover {
    background-color: #fc2020;
  }

  .cancelButton {
    background-color: rgb(255,207,65);
    color: white;
    font-weight: 800;
  }
  .cancelButton:hover {
    background-color: #eeb301;
  }
