.container {
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}
.maincontainer {
  border: 2px solid #87ceeb;
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 100px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #004F99;
}
.subtitle {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #006DD2;
}
.rowContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.line{
  border-top: 2px solid rgb(206, 205, 205);
  margin-left: 20px;
  margin-right: 20px;
}
.infoBox {
  flex: 1;
  padding: 15px;
  margin: 0 5px;
  border-radius: 10px;
  text-align: left;
}
.infoBox strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 900;
}
.infoBox .content {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-top: 5px;
}
.contentWrapper {
  margin-top: 20px;
  padding-top: 10px;

}
.contentWrapper strong{
  margin-left: 20px;
  font-weight: 900;
}
.content {
  padding: 15px;
  background-color: rgba(109,160,255,0.18);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.bigcontent {
  padding: 15px;
  background-color: rgba(109,160,255,0.18);
  margin: 0 20px;
  margin-top: 5px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0; /* 여백 제거 */
  padding: 0; /* 패딩 제거 */
}

.buttons {
  display: flex;
  gap: 10px;
}
.editButton,
.deleteButton,
.listButton {
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.listButton{
  background-color: rgb(109,160,255);
}
.listButton:hover {
  background-color: rgb(75, 137, 253); /* 호버 시 더 진한 파란색 */
}
.editButton {
  background-color: #28a745;
}
.editButton:hover {
  background-color: #218838;
}
.deleteButton {
  background-color: #dc3545;
}
.deleteButton:hover {
  background-color: #c82333;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.confirmButton, .cancelButton {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmButton {
  background-color: #ff6b6b;
  color: white;
  font-weight: 800;
}

.confirmButton:hover {
  background-color: #fc2020;
}

.cancelButton {
  background-color: rgb(255,207,65);
  color: white;
  font-weight: 800;
}
.cancelButton:hover {
  background-color: #eeb301;
}

.modalContent span{
  color: #0070d8;
  font-weight: 700;
}
