.container {
  display: flex;
  flex-direction: row; /* 요소들을 가로로 나열 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 100%; /* 컨테이너의 전체 너비 */
}

.videoaudioContainer,
.aiAnalysisResults {
  margin: 10px; /* 컨테이너 간의 간격 조정 */
}

.videoaudioContainer{
    display: flex;
    flex-direction: column; /* 요소들을 가로로 나열 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.btnClass {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.reproductionBtn {
  width: 150px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(100, 200, 150, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.reproductionBtn:hover {
    background-color: rgba(100, 200, 150, 1);
}

.pauseBtn {
  width: 150px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 109, 109, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.pauseBtn:hover {
  background-color: rgba(255, 109, 109, 1); /* 호버 시 더 진한 컬러 */
}

.feelingTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
}

.feelingTable th,
.feelingTable td {
  border: 1px solid #ccc; /* 테두리 추가 */
  padding: 10px; /* 셀 간격 조정 */
}

.feelingTable th {
  background-color: rgba(109, 160, 255, 0.5); /* 헤더 배경색 */
  text-align: center; /* 헤더 텍스트 중앙 정렬 */
}

.feelingTable td {
  text-align: center; /* 데이터 중앙 정렬 */
}

.gazeTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.gazeTable th,
.gazeTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.gazeTable th {
  background-color: rgba(109, 160, 255, 0.5);
  font-weight: bold;
}

.positionTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.positionTable th,
.positionTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.positionTable th {
  background-color: rgba(109, 160, 255, 0.5);
  font-weight: bold;
}
