.img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 60px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.titleInput,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  height: 150px;
  resize: none;
}

.fileInput {
  display: block;
}

.fileName {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.backButton,
.submitButton,
.deleteButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backButton {
  background-color: #ddd;
  color: #333;
}

.backButton:hover {
  background-color: #bbb;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
}

.submitButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.deleteButton:hover {
  background-color: #c82333;
}
